<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>フライト検索</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
	<header>
        <h2>🌍 My Travel Site</h2>
        <nav>
            <a th:href="top">ホーム</a> |
            <a th:href="searchFlight">フライト</a> |
            <a href="hotels.html">ホテル</a> |
            <a href="signup.html">アカウント登録</a>
        </nav>
    </header>

<h1>検索結果（フライト）</h1>

<table border="1">
    <tr>
        <th>出発地</th>
        <th>目的地</th>
        <th>価格</th>
        <th>出発日</th>
    </tr>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.departure}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.price}"></td>
        <td th:text="${flight.date}"></td>
    </tr>
</table>

<a href="/searchFlight">戻る</a>
</body>
</html>
