<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>フライト検索</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <header>
        <h2>🌍 My Travel Site</h2>
        <nav>
            <a th:href="@{/}">ホーム</a> |
            <a th:href="@{/searchFlight}">フライト</a> |
            <a href="hotels.html">ホテル</a> |
            <a href="signup.html">アカウント登録</a>
        </nav>
    </header>

	<div class="container">
	    <h1>検索メニュー</h1>
	
	    <ul>
	        <li><a th:href="@{/searchFlight}">フライト検索へ</a></li>
	        <li><a th:href="@{/searchHotel}">ホテル検索へ</a></li>
	    </ul>
	</div>

    <footer>
        <p>&copy; 2025 My Travel Site. All rights reserved.</p>
    </footer>
</body>
</html>
